<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:layer1="urn:ietf:params:xml:ns:yang:layer1"
       xmlns:layer2="urn:ietf:params:xml:ns:yang:layer2"
       xmlns:robot-network="urn:ietf:params:xml:ns:yang:robot-network"
       name="controlbox">

  <xacro:include filename="$(find interface-description)/urdf/usb30.urdf.xacro"/>
  <xacro:include filename="$(find interface-description)/urdf/usb20.urdf.xacro"/>
  <xacro:include filename="$(find interface-description)/urdf/cat5e.urdf.xacro"/>

  <xacro:macro name="controlbox" params="parent *origin name:=controlbox L2_network_id:=${name}_network_level L1_network_id:=${name}_device_level L2_id:=controlbox_L2 L1_id:=controlbox_L1">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <joint name="controlbox" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find ur_description)/meshes/common/simplify_control-box.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <material name="plastic"/> -->
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find ur_description)/meshes/common/simplify_control-box.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>

    <joint name="urcontrolbox_0_rj45_0_frame" type="fixed">
      <parent link="urcontrolbox_link"/>
      <child link="urcontrolbox_0_rj45_0_link"/>
      <origin xyz="-0.1 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="urcontrolbox_0_rj45_0_link">
      <visual>
        <!-- y = -g,  -->
        <origin xyz="0.02 0 -0.03" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find interface-description)/meshes/rj45-female.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.02 0 -0.03" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find interface-description)/meshes/rj45-female.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>

    <link name="urcontrolbox_0_usb-a-20_0_link"/>
    <joint name="urcontrolbox_0_usb-a-20_0_frame" type="fixed">
      <parent link="urcontrolbox_link"/>
      <child link="urcontrolbox_0_usb-a-20_0_link"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>
    
    <link name="urcontrolbox_0_usb-a-30_0_link"/>
    <joint name="urcontrolbox_0_usb-a-30_0_frame" type="fixed">
      <parent link="urcontrolbox_link"/>
      <child link="urcontrolbox_0_usb-a-30_0_link"/>
      <origin xyz="0.1 0 0.1" rpy="0 0 0"/>
    </joint>
    
<yang>
            <!-- UR3e controlbox L2 network topology -->
            <robot-network:networks>
                <network-id>${L2_network_id}</network-id>
                <layer2:l2-topology><element>template</element></layer2:l2-topology>
                <supporting-network>
                    <network-ref>${L1_network_id}</network-ref>
                    <tf-parent>${parent}</tf-parent>
                </supporting-network>
                <node> <!-- UR3e controlbox @ L2 -->
                    <node-id>${L2_id}</node-id>
                        <layer2:l2-node-attributes>
                            <bandwidth>1</bandwidth> 
                            <delay>2</delay>
                        </layer2:l2-node-attributes>
                    <supporting-node>
                        <network-ref>${L1_network_id}</network-ref>
                        <node-ref>${L1_id}</node-ref>
                    </supporting-node>
                    <xacro:usb30_L2 id="usb30_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="usb30_1"/>
                    <xacro:usb20_L2 id="usb20_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="usb20_1"/>
                    <xacro:cat5e_L2 id="eth_1" supporting_network="${L1_network_id}" supporting_node="${L1_id}" supporting_tp="eth_1"/>
                </node>
            </robot-network:networks>

            <!-- UR3e controlbox L1 network topology -->
            <robot-network:networks>
                <network-id>${L1_network_id}</network-id>
                <layer1:l1-topology><element>template</element></layer1:l1-topology>
                <node>
                    <node-id>${L1_id}</node-id>
                    <layer1:l1-node-attributes>
                        <device-type>controlbox</device-type>
                        <phy-port-num>3</phy-port-num>
                        <wireless-access>0</wireless-access>
                    </layer1:l1-node-attributes>
                    <xacro:usb30_L1 id="usb30_1" connector_type="usb-std_A" connector_format="female"/>
                    <xacro:usb20_L1 id="usb20_1" connector_type="usb-std_A" connector_format="female"/>
                    <xacro:cat5e_L1 id="eth_1" connector_type="rj45" connector_format="female"/>
                </node>
            </robot-network:networks>
        </yang>
    
  </xacro:macro>
</robot>
